
// =====Navigation===== //

.nav {
    padding-left: 0;
    flex-basis: $hundred-pct;
    display: $dis-flex;
    flex-direction: column;

    &-link {
      text-align: center;
      border-radius: 5px;
      padding: $ten-px 0;
      display: block;
      width: $hundred-pct;
      transition: 
        background-color .2s ease-in-out, 
        color .2s ease-in-out;

        &:hover {
          color: $white;
          background-color: $prime-color;
        }
    }  
  }
  